{% extends "mainTemplate.twig" %}

{% block content %}
    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        <div class="row align-items-center">
            <main class="form-signin">
                <form id="formElem">
                    <h1 class="h3 mb-3 fw-normal text-white">Please fill the fields</h1>
                    <div class="mb-3">
                        <label for="login">Login</label>
                        <input name="login" type="text" class="form-control" id="loginUseer" placeholder="login">
                    </div>
                    <div class="mb-3">
                        <label for="passwordUser">Password</label>
                        <input name="password" type="password" class="form-control" id="passwordUser" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword">Confirm password</label>
                        <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <label for="emailUser">Email address</label>
                        <input name="email" type="email" class="form-control" id="emailUseer" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="nameUser">Name</label>
                        <input name="nameUser" type="text" class="form-control" id="nameUseer" placeholder="name@example.com">
                    </div>
                    <button class="btn-primary" id="submit" type="submit">Signin</button>
                </form>
            </main>
        </div>
    </div>
    <script>
        formElem.onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch('/Register', {
                method: 'POST',
                body: new FormData(formElem)
            });

            let result = await response.json();
            alert(result.login);
        };
    </script>

{% endblock %}
