{% extends "mainTemplate.twig" %}

{% block content %}
<form id="formElem">
    <h1>Please fill the fields</h1>
    <div>
        <label for="login">Login</label>
        <input name="login" type="text" class="form-control" id="loginUseer" placeholder="login">
        <div class="error" id="loginErr"></div>
    </div>
    <div>
        <label for="passwordUser">Password</label>
        <input name="password" type="password" class="form-control" id="passwordUser">
        <div class="error" id="passwordErr"></div>
    </div>
    <div>
        <label for="confirmPassword">Confirm password</label>
        <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Password">
        <div class="error" id="confirmPasswordErr"></div>
    </div>
    <div>
        <label for="emailUser">Email address</label>
        <input name="email" type="text" class="form-control" id="emailUseer" placeholder="name@example.com">
        <div class="error" id="emailErr"></div>
    </div>
    <div>
        <label for="nameUser">Name</label>
        <input name="name" type="text" class="form-control" id="nameUseer" placeholder="name">
        <div class="error" id="nameErr"></div>
    </div>
    <div>
        <label for="remember">Remember</label>
        <input type="checkbox" id="remember" name="remember" checked>
    </div>
    <button id="submit" type="submit">Signin</button>

    <script>
        formElem.onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch('/Register', {
                method: 'POST',
                body: new FormData(formElem)
            });

            let result = await response.json();
            console.log(result);
            if (typeof result.err == 'undefined') {
                window.location.href = "/Cabinet";
            }

            for (var key in result.err) {
                printError(key, result.err[key]);
            }
        };

        function printError(elemId, hintMsg) {
            if (hintMsg == false) {
                hintMsg = '';
            }
            document.getElementById(elemId).innerHTML = hintMsg;
        }
    </script>

{% endblock %}