{% extends "mainTemplate.twig" %}

{% block content %}
            <form id="formElem">
                <h1>Please fill the fields</h1>
                <div>
                    <label for="loginUser">login</label>
                    <input name="login" type="text" class="form-control" id="loginUser" placeholder="login">
                    <div class="error" id="loginErr"></div>
                </div>
                <div>
                    <label for="passwordUser">Password</label>
                    <input name="password" type="password" class="form-control" id="passwordUser" placeholder="Password">
                    <div class="error" id="passwordErr"></div>
                </div>
                <div>
                    <label for="remember">Remember</label>
                    <input type="checkbox" id="remember" name="remember"
                           checked>
                </div>
                <button id="submit" type="submit">Signin</button>
                <div class="error" id="fail"></div>

            <script>
                formElem.onsubmit = async (e) => {
                    e.preventDefault();

                    let response = await fetch('/Authenticate', {
                        method: 'POST',
                        body: new FormData(formElem)
                    });

                    let result = await response.json();
                    console.log(result);
                    if (typeof result.err == 'undefined') {
                        window.location.href = "/Cabinet";
                    }

                    for (var key in result.err) {
                        printError(key, result.err[key]);

                    }
                };

                function printError(elemId, hintMsg) {
                    if (hintMsg == false) {
                        hintMsg = '';
                    }
                    document.getElementById(elemId).innerHTML = hintMsg;
                }
            </script>

{% endblock %}