<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

{% if userName %}
    Hello {{ userName }}!
    <a href="/Exit">Exit</a>
{% else %}
    <a href="/Registration">Registration</a><br>
    <a href="/Authentication">Authentication</a>
{% endif %}

{% block content %}{% endblock %}

</body>
</html>